SECRET_KEY=changez-cette-cle-en-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=procurement_db
DB_USER=votre_utilisateur_mysql
DB_PASSWORD=votre_mot_de_passe_mysql
DB_HOST=localhost
DB_PORT=3306
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
